# ECON 490: Within Group Analysis (6)

## Prerequisites

1. Inspect and clean the variables of a data set.
2. Generate basic variables for a variety of purposes.

## Learning Outcomes

1. Use `arrange`, `group_by`, `group_keys` and `ungroup` to sort and organize data for specific purposes.
2. Generate variables with `summarize` to analyze patterns within groups of data. 
3. Reshape data frames using `pivot_wider` and `pivot_longer`.

In [1]:
source("6_tests.r")

## 6.1 Key Functions for Group Analysis

When we are working on a particular project, it is often quite important to know how to summarize data for specific groupings, whether of variables or observations meeting specific conditions. In this notebook, we will look at a variety of functions for conducting this group-level analysis. We will rely heavily on the `dyplr` package, which we have implicitly imported through the `tidyverse` package. Let's import these packages and load in our "fake_data" now. Recall that this data set is simulating information of workers in the years 1995-2012 in a fake country where a training program was introduced in 2003 to boost their earnings.

In [2]:
library(haven)
library(tidyverse)
library(IRdisplay)

fake_data <- read_dta("../econ490-stata/fake_data.dta") # change me!

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x readr::edition_get()   masks testthat::edition_get()
x dplyr::filter()        masks stats::filter()
x purrr::is_null()       masks testthat::is_null()
x dplyr::lag()           masks stats::lag()
x readr::local_edition() masks testthat::local_edition()
x dplyr::matches()       masks tidyr::matches(), testthat::matches()

Now that we've loaded in our data and already know how to view it, clean it, and generate additional variables for it as needed, we can look at some helpful commands for grouping this data.

#### 6.1.1 `arrange`

Before grouping data, we may want to order our data set based on the values of a particular variable. The `arrange` function helps us achieve this. It takes in a data frame and variable and rearranges our data frame in ascending order of the values of that variable, with the option to arrange in descending order requiring a further `desc` function. As an example, let's rearrange our entire data set in order of the variable _year_.

In [3]:
# arrange the dataframe by ascending year
fake_data %>% arrange(year)

# arrange the dataframe by descending year
fake_data %>% arrange(desc(year))

       workerid year sex age start_year region treated earnings
1        6      1995 M   41  1995       5      0         53620.355
2       14      1995 M   44  1995       4      0         63075.742
3       18      1995 M   40  1995       5      0         10452.206
4       25      1995 M   48  1995       5      0       2022121.375
5       27      1995 M   40  1995       3      1          8649.074
6       29      1995 M   37  1995       1      1         17119.215
7       31      1995 M   30  1995       2      0        167571.375
8       35      1995 M   45  1995       1      1         32068.607
9       41      1995 M   36  1995       2      0         54630.277
10      44      1995 M   45  1995       2      0         37143.246
11      54      1995 M   52  1995       1      0         63908.039
12      64      1995 M   48  1995       4      1          3665.528
13      71      1995 M   31  1995       4      0         27490.564
14      73      1995 M   50  1995       1      0         84353.617
15      74      1995 M   47  1995       3      0        222875.438
16      75      1995 M   46  1995       2      0         23349.418
17      86      1995 M   42  1995       1      0        123718.930
18      93      1995 M   31  1995       4      1         19998.973
19     105      1995 M   51  1995       2      0        115528.625
20     107      1995 M   46  1995       3      0         16030.646
21     113      1995 M   39  1995       5      0         62926.625
22     114      1995 M   37  1995       4      0         63485.129
23     125      1995 M   35  1995       4      0         33414.684
24     128      1995 M   50  1995       4      1          8266.648
25     132      1995 M   39  1995       2      0        154684.469
26     135      1995 M   55  1995       2      0         87830.125
27     136      1995 M   50  1995       2      0        266585.156
28     139      1995 M   44  1995       2      0         12433.974
29     145      1995 M   36  1995       1      1          7027.116
30     154      1995 M   51  1995       4      0         16695.895
...    ...      ...  ... ... ...        ...    ...     ...
138109 39795    2011 F   51  1995       4      0         16106.00
138110 39796    2011 M   50  1995       4      0        133320.70
138111 39797    2011 M   50  1995       4      0        155833.69
138112 39817    2011 F   49  1995       4      1         56573.59
138113 39820    2011 M   48  1995       4      1         19004.43
138114 39827    2011 F   48  1995       2      0        101882.95
138115 39835    2011 M   47  1995       2      0       1056559.88
138116 39840    2011 M   47  1997       4      0         64670.98
138117 39852    2011 F   46  1995       4      0         41792.08
138118 39854    2011 F   46  1995       1      0         53232.29
138119 39855    2011 F   46  1995       4      1         78224.28
138120 39881    2011 F   44  1995       2      0         43095.96
138121 39887    2011 M   43  1995       3      0         62827.17
138122 39913    2011 M   56  1995       1      0         18038.01
138123 39918    2011 M   55  1995       2      0         38825.36
138124 39920    2011 M   55  1995       3      0        116985.24
138125 39938    2011 M   54  1995       2      0        274870.22
138126 39944    2011 M   53  1995       2      1         35349.47
138127 39952    2011 F   53  1995       4      1         97911.64
138128 39956    2011 M   52  1995       2      1          7479.71
138129 39960    2011 M   52  1995       3      0        124885.19
138130 39973    2011 M   51  1995       2      0        165564.80
138131 39974    2011 M   51  1995       1      0         22350.33
138132 39976    2011 M   51  1995       2      0         38757.62
138133 39978    2011 F   51  1995       4      0         37513.22
138134 39979    2011 F   51  1995       2      0         89362.59
138135 39982    2011 M   50  1998       5      0        169044.92
138136 39983    2011 M   50  1995       1      0         42433.02
138137 39990    2011 M   49  1995       1      0         81019.91
138138 39995    2011 F   49  1995       4      1         43310.89
       sample_weight
1      0.245484322
2      0.847918034
3      0.984832942
4      0.535073817
5      0.858678937
6      0.424776763
7      0.927713931
8      0.013639001
9      0.471130669
10     0.659996688
11     0.269472748
12     0.526504815
13     0.223495334
14     0.864790022
15     0.594476044
16     0.163488939
17     0.006634041
18     0.364012271
19     0.345401734
20     0.975466847
21     0.087309361
22     0.029547801
23     0.728995740
24     0.305330098
25     0.510318041
26     0.984684408
27     0.759523451
28     0.411231518
29     0.943878114
30     0.607332706
...    ...
138109 0.69611228
138110 0.15556048
138111 0.10193106
138112 0.58214313
138113 0.98144704
138114 0.61409545
138115 0.75459433
138116 0.28212556
138117 0.89257556
138118 0.14872955
138119 0.42598045
138120 0.78307706
138121 0.60439140
138122 0.69969201
138123 0.33071303
138124 0.25233352
138125 0.43058518
138126 0.13132565
138127 0.06521963
138128 0.70603067
138129 0.42059520
138130 0.17472957
138131 0.16983634
138132 0.19638067
138133 0.45645854
138134 0.53855258
138135 0.91652799
138136 0.42313915
138137 0.95684946
138138 0.54073781

       workerid year sex age start_year region treated earnings
1        5      2011 M   57  1998       2      1          5227.690
2       15      2011 M   59  2005       2      0         66684.594
3       23      2011 M   47  2010       3      1        106321.297
4       33      2011 M   63  2000       1      1         43568.211
5       40      2011 M   53  1995       2      0         41436.738
6       41      2011 M   52  1995       2      0         20448.549
7       48      2011 M   49  1997       1      0         72454.453
8       58      2011 M   58  1995       5      0         45023.277
9       70      2011 M   48  1999       2      1         29999.215
10      82      2011 M   46  1995       1      0         58554.875
11      94      2011 M   46  1995       4      0        289255.344
12      95      2011 M   44  2004       4      0         10056.997
13     103      2011 M   47  1995       2      1         32415.781
14     104      2011 M   44  2000       4      0        667159.625
15     106      2011 M   45  1995       5      0        281903.531
16     111      2011 M   58  2010       3      1         95804.672
17     118      2011 M   45  2001       3      0        336769.000
18     142      2011 M   57  2005       1      0         15560.151
19     145      2011 M   52  1995       1      1         56660.707
20     148      2011 M   50  1995       2      0         41589.348
21     149      2011 M   49  1998       1      0        127356.703
22     181      2011 M   54  2003       4      0       2422351.750
23     191      2011 M   48  1995       4      0         40052.742
24     200      2011 M   47  2005       5      0         83124.422
25     212      2011 M   56  2004       3      0         94431.945
26     214      2011 M   47  1995       1      0         18981.689
27     220      2011 M   62  2010       1      1         11345.614
28     231      2011 M   52  1998       2      0         44757.805
29     241      2011 M   47  1995       4      0        238656.562
30     247      2011 M   59  1995       1      0          6437.429
...    ...      ...  ... ... ...        ...    ...     ...
138109 39882    1995 F   60  1995       1      1        39430.809
138110 39883    1995 F   28  1995       1      0        37427.660
138111 39891    1995 M   43  1995       1      0        34913.070
138112 39892    1995 M   43  1995       4      1        36736.996
138113 39896    1995 M   42  1995       1      0        12842.060
138114 39897    1995 M   42  1995       4      0        33026.699
138115 39899    1995 M   41  1995       4      0        43750.617
138116 39900    1995 M   41  1995       1      0       111594.328
138117 39906    1995 F   41  1995       1      0        49851.738
138118 39909    1995 M   40  1995       4      0        13838.254
138119 39917    1995 M   39  1995       3      0        13323.856
138120 39921    1995 M   55  1995       2      1         8482.438
138121 39926    1995 F   39  1995       2      1        45673.695
138122 39935    1995 M   38  1995       5      0       255496.578
138123 39936    1995 M   38  1995       1      0        28643.072
138124 39946    1995 M   37  1995       1      0       138861.406
138125 39948    1995 M   53  1995       1      0       140650.141
138126 39950    1995 M   53  1995       1      1        25585.111
138127 39953    1995 F   37  1995       2      0         5407.606
138128 39958    1995 M   52  1995       1      0       245889.453
138129 39962    1995 M   52  1995       3      1         2106.576
138130 39967    1995 F   36  1995       4      1         5741.533
138131 39971    1995 M   51  1995       1      0        99283.273
138132 39975    1995 M   51  1995       2      1        27395.775
138133 39977    1995 F   35  1995       4      0       115672.828
138134 39978    1995 F   35  1995       4      0         8616.445
138135 39991    1995 M   49  1995       2      1        43544.539
138136 39994    1995 F   33  1995       3      0        44539.645
138137 39996    1995 M   48  1995       2      1        11704.400
138138 39999    1995 M   32  1995       1      0        80150.586
       sample_weight
1      0.31822518
2      0.75832379
3      0.03675001
4      0.40551120
5      0.75401860
6      0.03008168
7      0.51789588
8      0.57465142
9      0.07749050
10     0.86518133
11     0.74339199
12     0.73961306
13     0.21056186
14     0.18379298
15     0.56135762
16     0.07912312
17     0.63594347
18     0.92051268
19     0.13704352
20     0.76837689
21     0.36434102
22     0.25747520
23     0.74813938
24     0.51306051
25     0.18145464
26     0.83384490
27     0.34945798
28     0.75323999
29     0.81171334
30     0.74657810
...    ...
138109 0.8982256055
138110 0.7744307518
138111 0.3937701285
138112 0.4295448661
138113 0.2507450879
138114 0.6769655943
138115 0.0148589266
138116 0.1135981232
138117 0.4844503999
138118 0.3747321665
138119 0.7029508352
138120 0.5410019755
138121 0.0190422367
138122 0.7113690972
138123 0.3517985940
138124 0.0748410672
138125 0.6489533186
138126 0.0002216418
138127 0.6900656223
138128 0.6886372566
138129 0.4199223220
138130 0.2977938354
138131 0.0142900757
138132 0.0507338569
138133 0.7924965620
138134 0.2930383384
138135 0.0872985646
138136 0.2123987377
138137 0.2307229936
138138 0.1544275284

We can also pass multiple variable parameters to the `arrange` function to indicate how we should further sort our data within each year grouping. For instance, including the _region_ variable will further sort each year grouping in order of region.

In [4]:
fake_data %>% arrange(year, region)

       workerid year sex age start_year region treated earnings   sample_weight
1       29      1995 M   37  1995       1      1        17119.215 0.424776763
2       35      1995 M   45  1995       1      1        32068.607 0.013639001
3       54      1995 M   52  1995       1      0        63908.039 0.269472748
4       73      1995 M   50  1995       1      0        84353.617 0.864790022
5       86      1995 M   42  1995       1      0       123718.930 0.006634041
6      145      1995 M   36  1995       1      1         7027.116 0.943878114
7      182      1995 M   34  1995       1      1        36008.676 0.802467167
8      186      1995 M   48  1995       1      0        74904.453 0.072012879
9      192      1995 M   29  1995       1      0        26705.703 0.563101232
10     194      1995 M   44  1995       1      0       361347.156 0.272873402
11     195      1995 M   41  1995       1      0        50773.438 0.377296090
12     214      1995 M   31  1995       1      0       237892.203 0.273260593
13     219      1995 M   46  1995       1      0        14772.879 0.766962588
14     240      1995 M   32  1995       1      0       525731.125 0.825127959
15     268      1995 M   37  1995       1      1        25933.406 0.470104933
16     324      1995 F   30  1995       1      0       537331.938 0.751524568
17     341      1995 F   43  1995       1      0        43507.066 0.786772013
18     371      1995 M   41  1995       1      0        29366.527 0.059761543
19     394      1995 M   53  1995       1      0        82601.648 0.092087120
20     409      1995 M   54  1995       1      0       293705.938 0.154467553
21     415      1995 M   59  1995       1      0       200681.250 0.741511822
22     416      1995 M   39  1995       1      1        16568.428 0.578335345
23     420      1995 F   59  1995       1      1         2485.343 0.101963505
24     427      1995 M   44  1995       1      1       493937.750 0.895063281
25     446      1995 F   32  1995       1      0        67132.445 0.471906573
26     450      1995 M   47  1995       1      0        20841.098 0.163103551
27     455      1995 M   46  1995       1      1         5936.963 0.785256803
28     461      1995 F   29  1995       1      0        10058.718 0.336613864
29     462      1995 M   44  1995       1      0        23320.316 0.036945671
30     463      1995 F   28  1995       1      1        14703.675 0.299099505
...    ...      ...  ... ... ...        ...    ...     ...        ...
138109 29936    2011 F   45  1995       5      1        27705.44  0.96750516
138110 30651    2011 M   50  1995       5      0        19975.77  0.40450352
138111 30718    2011 M   57  1995       5      0        92581.61  0.63143033
138112 30801    2011 F   46  2000       5      0        26480.99  0.13922229
138113 30844    2011 M   53  2003       5      0        14846.44  0.22448736
138114 30906    2011 M   45  1995       5      0         8802.52  0.11775202
138115 32446    2011 M   43  1995       5      0        58183.87  0.17868751
138116 32460    2011 M   56  1999       5      0        48041.49  0.41283563
138117 32669    2011 M   52  1995       5      0        57926.39  0.01679442
138118 32805    2011 M   52  1995       5      1        92017.04  0.94324642
138119 32820    2011 M   51  1995       5      0        91766.07  0.97752982
138120 33114    2011 M   46  1995       5      1       109973.20  0.52288383
138121 33268    2011 M   52  2003       5      0        23695.83  0.96910125
138122 33595    2011 M   51  1995       5      0        18122.84  0.88706416
138123 34277    2011 M   52  1995       5      1       182127.98  0.18303274
138124 34394    2011 M   52  1995       5      0        29397.34  0.33403045
138125 34765    2011 M   51  1995       5      0        73787.90  0.09533527
138126 35138    2011 M   54  1996       5      0        55578.26  0.22436261
138127 35617    2011 M   45  1995       5      0       223125.86  0.90135431
138128 35779    2011 F   44  2002       5      0        86900.70  0.65921998
138129 37144    2011 M   50  1995       5      1        39129.55  0.96756274
138130 37816    2011 M   44  1995       5      0        78475.45  0.83391649
138131 37885    2011 M   54  1995       5      0        22487.27  0.19968964
138132 37945    2011 M   49  2009       5      0        31272.99  0.78912789
138133 38497    2011 M   47  1995       5      0       165194.50  0.73382586
138134 38741    2011 M   52  1995       5      0        79968.97  0.16125810
138135 38828    2011 M   60  1995       5      0        42977.53  0.29570580
138136 39287    2011 M   47  1995       5      0       129261.93  0.53980422
138137 39437    2011 M   53  1995       5      0        41295.98  0.45958123
138138 39982    2011 M   50  1998       5      0       169044.92  0.91652799

#### 6.1.2 `group_by`

This is one of the most pivotal functions in R. It allows us to group a data frame by the values of a specific variable and perform further operations on those groups. Let's say that we wanted to group our data set by _region_ and count the number of observations in each region. To accomplish this, we can simply pass this variable as a parameter to our `group_by` function and further pipe this result into the `tally` function.

In [5]:
fake_data %>% group_by(region) %>% tally()

  region n
1 1      54364
2 2      34072
3 3       6216
4 4      17572
5 5      25914

Notice how the `group_by` function nicely groups the regions in ascending order for us automatically. Unlike with the `arrange` function, it does not preserve the data set in its entirety. It instead collapses our data set into groups, thus it is important not to redefine our "data" data frame by this group_by if we want to preserve our original data. 

We can also pass multiple arguments to `group_by`. If we pass both _region_ and _treated_ to our function as inputs, our region groups will be further grouped by observations which are and are not treated. Let's count the number of treated and untreated observations in each region.

In [6]:
fake_data %>% group_by(region, treated) %>% tally()

   region treated n
1  1      0       39394
2  1      1       14970
3  2      0       22857
4  2      1       11215
5  3      0        4615
6  3      1        1601
7  4      0       12197
8  4      1        5375
9  5      0       18419
10 5      1        7495

Finally, we can pipe a group_by object into another group_by object. In this case, the second group_by will simply overwrite the first. For example, if we wanted to pass our original region group_by into a mere treated group_by, we get as output a data frame counting the total number of observations that are treated and untreated.

In [7]:
fake_data %>% group_by(region) %>% group_by(treated) %>% tally()

  treated n
1 0       97482
2 1       40656

#### 6.1.3 `group_keys`

This function allows us to see the specific groups for a group_by data frame we have created. For instance, if we wanted to see every year in the data, we could group by _year_ and then apply the `group_keys` function.

In [8]:
fake_data %>% group_by(year) %>% group_keys()

   year
1  1995
2  1996
3  1997
4  1998
5  1999
6  2000
7  2001
8  2002
9  2003
10 2004
11 2005
12 2006
13 2007
14 2008
15 2009
16 2010
17 2011

This is equivalent to using the `unique` function directly on a column of our data set like below.

In [9]:
unique(fake_data$year)

 [1] 1999 2001 2002 2003 2005 2010 1997 2009 2011 1995 2000 2007 2006 2008 1996
[16] 1998 2004

The output is just a list in this case instead of another data frame as above.

#### 6.1.4 `ungroup`

We can even selectively remove groups from a grouped data frame. Say we realized that we didn't need the data frame grouping by _region_ and _treated_ and wanted to just count by _region_. If this double grouped data frame is defined as A, we can simply use `ungroup` to "work backwards", removing the grouping by treatment status and having a count for just regions.

In [13]:
A <- fake_data %>% group_by(region, treated) %>% tally()
A %>% ungroup(treated) %>% tally()

  region n
1 1      2
2 2      2
3 3      2
4 4      2
5 5      2

## Exercise 1

Order the following pieces of code to create a data frame which shows, in descending order, the population of each region and treatment pairing. Be sure to include piping. Pass your final code into answer_1.

In [ ]:
# count()
# arrange(desc(n))
# fake_data
# group_by(region, treated)

answer_1 <- # your answer ordering the 4 code pieces above and adjoining them with %>% here

test_1()

## Exercise 2

Use the methods we've learned so far to determine how many unique combinations of _region_, *birth_year* and *sex* exist in the data set.

In [ ]:
# your code here

answer_2 <- # your answer here

test_2()

## 6.2 Generating Variables for Group Analysis

We have already seen how to redefine and add new variables to a data frame using the df$ <- format. We have also seen how to use the `mutate` function to add new variables to a data frame. However, we often want to add new variables to grouped data frames to display information about the different groups rather than different observations in the original data frame. That is where `summarise` comes in. 

The `summarise` function gives us access to a variety of common functions we can use to generate variables corresponding to groups. For instance, we may want to find the mean earnings of each region. To do this, we can group on _region_ and then add a variable to our grouped data frame which aggregates the mean of the _earnings_ variable for each region group. We must use the `summarise` function for this, since it gives us access to the earnings of every member of each group.

In [ ]:
fake_data %>% group_by(region) %>% summarise(meanearnings = mean(earnings))

We may want more detailed information about each region. We can pass a series of parameters to `summarise` and it will generate variables for all of these requests. Let's say we want the mean and standard deviation of _earnings_ for each group, as well as the range of _earnings_ for each group.

In [ ]:
fake_data %>% 
    group_by(region) %>% 
    summarise(meanearnings = mean(earnings), stdevearnings = sd(earnings), range = max(earnings) - min(earnings))

We may also want to calculate the number of observations in each region as an additional variable. Before, we could simply group by our _region_ variable and then immediately apply the `tally` function. However, now that we have defined a series of other variables, our data set on which `tally` operates is different. Watch what happens when we try to use `tally` after using `summarise`.

In [ ]:
fake_data %>% 
    group_by(region) %>% 
    summarise(meanearnings = mean(earnings), stdevearnings = sd(earnings), range = max(earnings) - min(earnings)) %>%
    tally()

Now watch what happens when we try to use `tally` before using `summarise`.

In [ ]:
fake_data %>% 
    group_by(region) %>% 
    tally() %>%
    summarise(meanearnings = mean(earnings), stdevearnings = sd(earnings), range = max(earnings) - min(earnings))

In the first case, tally does not have the necessary information left in the data frame to count the number of observations in each region. In the second case, tally has shrunk the data frame so much that the functions within `summarise` do not have the necessary information to make their calculations. 

This is where `n` comes in. This is a special function used within the `summarise` variable. It represents the number of observations within each group of a data frame. As such, it is directly paired with `group_by`, although it can be paired with `mutate` when we are working with the number of observations in a data set as a whole (i.e. with one group, meaning `n` represents the position of each observation).

In [ ]:
fake_data %>% 
    group_by(region) %>% 
    summarise(meanearnings = mean(earnings), stdevearnings = sd(earnings), range = max(earnings) - min(earnings), total = n())

The entire process of generating variables for group analysis in this section is similar to collapsing a data set in Stata. Luckily, it can be done more quickly here in R.

## Exercise 3

Create a data frame which has the total number of people born in all birth years in which more than 100,000 people were born. The data frame should have two columns, one called *birth_year* and one called *total_births*, where *total_births* is arranged from most popular birth year to least popular birth year (with the least still having more than 100,000 in the *total_births* column). Save your answer to answer_3.

In [ ]:
answer_3 <- # your code here

test_3()

## 6.3 Reshaping Data

Sometimes in our process of data analysis, we want to restructure our data frame. To do this, we can take advantage of a series of functions within the `tidyr` package that we have imported implicitly through loading in the `tidyverse` package. These functions allow us to quickly change the format of our data frame without having to redefine all of its columns and rows manually.

For instance, we often want to transform our data from "wide" to "long" format, or vice versa. Suppose that we wish to make our data set more "cross-sectional" in appearance by dropping the age variable and adding an earnings variable for each year, with the values in these new columns corresponding to the earnings of each person in that year. Effectively, by adding columns, we are making our data set "wider", so we will use the `pivot_wider` function.

In [2]:
wide_data <- fake_data %>% select(-age) %>% pivot_wider(names_from = "year", values_from = "earnings")

ERROR: Error in UseMethod("select"): no applicable method for 'select' applied to an object of class "function"

We can see that the function above took the names from _year_ and generated a new variable for each of them from 1995 to 2012, then supplied the corresponding values from _earnings_ to each of these year variables. When a worker's information isn't recorded for a given year (and thus they have no recorded wage), the _earnings_ variable is marked as missing.

Now suppose we want to work backward and transform this data set back into its original, "longer" shape (just now without the _age_ variable). To do this, we can invoke the complementary `pivot_longer` function.

In [ ]:
wide_data %>% pivot_longer(cols = c(1995:2012), names_to = "year", values_to = "earnings")

Here, we supply the names of all variables/columns we want to compress (being all the year variables we now want to squash) to `cols`, we supply the name of the singular variable all of these columns will be compressed into (being our original _year_ variable) to `names_to`, and then we finally supply the name of the column for all of these earnings values to now be stored in (our original _earnings_ variable) to `values_to`.

If this doesn't seem intuitive or quickly comprehensible, don't worry. Even many experienced coders struggle with the pivoting/reshaping functionality. With practice, it will become much more digestible!

## Exercise 4

Study the output of the cell below.

In [2]:
people = c("Jack", "Jack", "Jack", "Jill", "Jill", "Jill")
weeks= c(1, 2, 3, 1, 2, 3)
moneyspent = c(50, 75, 25, 15, 100, 60)

Expenses <- data.frame(Person = people, Week = weeks, Money_Spent = moneyspent)
Expenses

  Person Week Money_Spent
1 Jack   1     50
2 Jack   2     75
3 Jack   3     25
4 Jill   1     15
5 Jill   2    100
6 Jill   3     60

Run the code cell below to see the exercise!

In [5]:
display_html('<iframe src="https://h5p.open.ubc.ca/wp-admin/admin-ajax.php?action=h5p_embed&id=1207" width="862" height="258" frameborder="0" allowfullscreen="allowfullscreen" title="R 6.4"></iframe><script src="https://h5p.open.ubc.ca/wp-content/plugins/h5p/h5p-php-library/js/h5p-resizer.js" charset="UTF-8"></script>')

**Extra**: Try to create two data frames representing the two reshaping options described above! Feel free to label the columns of each new data frame as you see fit.

In [ ]:
# your code here

## 6.4 Wrap Up
Being able to generate new variables and modify a data set to suit your specific research is pivotal. Now you should hopefully have more confidence in your ability to perform these tasks. Next, we will explore the challenges posed by working with multiple data sets at once.