# ECON 490: Generating Variables (6)

## Prerequisites 

1. Be able to effectively use Stata do-files and generate-log files.
2. Be able to change your directory so that Stata can find your files.
3. Import datasets in csv and dta format. 
4. Save data files. 

## Learning Outcomes

1. Explore your data set with commands like `describe`, `browse`,`tabulate`, `codebook` and `lookfor`.
2. Generate dummy (or indicator) variables using the command `generate` or `tabulate`.
3. Create new variables in Stata using `generate` and `replace`.
4. Rename and label variables.

## 6.1 Getting Started

We'll continue working with the fake data data set introduced in the previous lecture. Recall that this data set is simulating information of workers in the years 1982-2012 in a fake country where a training program was introduced in 2003 to boost their earnings.  

Last lecture we introduced a three step process to import data into Stata:
1. Clear the workspace
2. Change the directory to the space where the files we will use are located 
3. Import the data using commands specific to the file type.

Let's run these commands now so we are all ready to do our analysis.

In [1]:
* Below you will need to include the path on your own computer to where the data is stored between the quotation marks.

clear *
cd " "
import delimited using "fake_data.csv", clear

(encoding automatically selected: UTF-8)
(9 vars, 2,861,772 obs)

## 6.2 Commands to Explore the Dataset

#### 6.2.1 `describe`

The first command we are going to use describes the basic characteristics of the variables in the loaded data set.

In [2]:
describe

Contains data
 Observations:     2,861,772
    Variables:             9
--------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
workerid        long    %12.0g
year            int     %8.0g
sex             str1    %9s
birth_year      int     %8.0g
age             byte    %8.0g
start_year      int     %8.0g
region          byte    %8.0g
treated         byte    %8.0g
earnings        float   %9.0g
--------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

#### 6.2.2 `browse`

In addition to the `describe` command, in the Stata interface you can also open the data editor and see the raw data as if it were an Excel file. To do this, we can type `browse`. This command will open a new Stata window. If we want to do this from within Jupyter, we use the command with `%` before `browse`. Either approach gives us a "spreadsheet-like" view of the data set.

In [3]:
%browse

     +----------------------------------------------------------------------+
  1. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        1 | 1999 |   M |     1944 |  55 |     1997 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               39975.01                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  2. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        1 | 2001 |   M |     1944 |  57 |     1997 |      1 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               278378.1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  3. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2001 |   M |     1947 |  54 |     2001 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                18682.6                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2002 |   M |     1947 |  55 |     2001 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               293336.4                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  5. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        2 | 2003 |   M |     1947 |  56 |     2001 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               111797.3                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  6. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        3 | 2005 |   M |     1951 |  54 |     2005 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               88351.67                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  7. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        3 | 2010 |   M |     1951 |  59 |     2005 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               46229.57                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  8. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        4 | 1997 |   M |     1952 |  45 |     1997 |      5 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               24911.03                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  9. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        4 | 2001 |   M |     1952 |  49 |     1997 |      5 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               9908.362                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 10. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        5 | 2009 |   M |     1954 |  55 |     1998 |      2 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               137207.3                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 11. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        5 | 2011 |   M |     1954 |  57 |     1998 |      2 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                5227.69                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 12. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 1995 |   M |     1954 |  41 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               53620.36                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 13. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 1999 |   M |     1954 |  45 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               28902.34                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 14. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 2000 |   M |     1954 |  46 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               58023.73                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 15. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        6 | 2003 |   M |     1954 |  49 |     1995 |      5 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               132451.8                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 16. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        7 | 2007 |   M |     1958 |  49 |     2006 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               208644.8                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 17. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        7 | 2009 |   M |     1958 |  51 |     2006 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               330875.2                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 18. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        8 | 2007 |   M |     1959 |  48 |     1999 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               83872.56                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 19. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        8 | 2010 |   M |     1959 |  51 |     1999 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               29126.71                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 20. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 1997 |   M |     1962 |  35 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                 296822                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 21. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 2006 |   M |     1962 |  44 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               165501.4                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 22. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |        9 | 2008 |   M |     1962 |  46 |     1995 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               399610.9                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 23. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 1999 |   M |     1965 |  34 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                23455.5                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 24. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 2001 |   M |     1965 |  36 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               28081.39                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 25. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       10 | 2002 |   M |     1965 |  37 |     1995 |      3 |       1 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                                16827.1                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 26. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       11 | 1996 |   M |     1941 |  55 |     1995 |      3 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               20401.53                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 27. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       11 | 1997 |   M |     1941 |  56 |     1995 |      3 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               38037.63                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 28. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2000 |   M |     1942 |  58 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               25679.33                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 29. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2001 |   M |     1942 |  59 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               13154.44                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 30. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       12 | 2002 |   M |     1942 |  60 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               24012.12                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 31. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       13 | 1996 |   M |     1946 |  50 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               58104.31                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 32. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       13 | 1997 |   M |     1946 |  51 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               37268.06                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 33. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 1995 |   M |     1951 |  44 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               63075.74                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 34. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 2002 |   M |     1951 |  51 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               41008.89                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 35. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       14 | 2003 |   M |     1951 |  52 |     1995 |      4 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               29224.72                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 36. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       15 | 2006 |   M |     1952 |  54 |     2005 |      2 |       0 |
     |----------------------------------------------------------------------|
     |                               earnings                               |
     |                               101288.9                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 37. | workerid | year | sex | birth_~r | age | start_~r | region | treated |
     |       15 | 2011 |   M |     1952 |  59 |     2005 |      2 |       0 |

Opening the data editor has many benefits. Most importantly, we get to see the data as a whole, allowing us to have a clearer perspective of the information the data set is providing us. For example, here we observe that we have unique worker codes, the year where they are observed, worker characteristics (sex, age, and earnings), and whether or not they participated in the specified 2003 training program.

#### 6.2.3 `codebook`

We can further analyze any variable by using the `codebook` command. Let's do this here to learn more about the variable _earnings_.

In [4]:
codebook earnings

--------------------------------------------------------------------------------
earnings                                                             (unlabeled)
--------------------------------------------------------------------------------

                  Type: Numeric (float)

                 Range: [8.881357,1.900e+08]          Units: 1.000e-06
         Unique values: 2,526,576                 Missing .: 0/2,861,772

                  Mean:   71809
             Std. dev.:  203238

           Percentiles:     10%       25%       50%       75%       90%
                        8086.95   16701.3   36511.8     78840    157792

The codebook command gives us important information about this variable such as the type (i.e. string or numeric), how many missing observations it has (very useful to know!) and all unique values. If the variable is numeric, it will also provide some summary statistics. If the variable is a string, it will provided examples of some of the entries.

Try changing the variable name in the cell above to see the codebook entries for different variables in the data set.

#### 6.2.4 `tabulate`

We can also learn more about the frequency of the different measures of one variable by using the command `tabulate`.

In [5]:
tabulate region

     region |      Freq.     Percent        Cum.
------------+-----------------------------------
          1 |    660,053       23.06       23.06
          2 |    575,994       20.13       43.19
          3 |    516,046       18.03       61.22
          4 |    612,871       21.42       82.64
          5 |    496,808       17.36      100.00
------------+-----------------------------------
      Total |  2,861,772      100.00

Here we can see that there are five regions indicated in this data set. We can see that the majority of people surveyed came from region 1. 

We can actually include two variables in the `tabulate` command if we want more information. When we do this below we see that there were 234,355 female identified and 425,698 male identified persons surveyed in region 1.

In [6]:
tabulate region sex

           |          sex
    region |         F          M |     Total
-----------+----------------------+----------
         1 |   234,355    425,698 |   660,053
         2 |   211,833    364,161 |   575,994
         3 |   183,261    332,785 |   516,046
         4 |   214,932    397,939 |   612,871
         5 |   174,479    322,329 |   496,808
-----------+----------------------+----------
     Total | 1,018,860  1,842,912 | 2,861,772

#### 6.2.5 `lookfor`

What if there's a gazillion variables and we're looking for a particular one? Thankfully, Stata provides a nice command called `lookfor` which helps us search for variables based on keywords. Suppose we want to look for a variable that is related to year.

In [7]:
lookfor year

Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
year            int     %8.0g
birth_year      int     %8.0g
start_year      int     %8.0g

Stata found three variables that include the word year either in the variable name or in the variable label. This is super useful when we are getting to know a data set!

##  6.3 Generating Dummy Variables

Dummy variables are variables that can only take on two values: 0 and 1. It is useful to think of a dummy variable as being the answer to a question that can be answered with "yes" or "no". With a dummy variable, the answer yes is coded as "1" and no is coded as "0".

Examples of question that are used to create dummy variables include:

1. Is the person female? Females are coded "1" and everyone else is coded "0".
2. Does the person have a university degree? People with a degree are coded "1" and everyone else is coded "0".
3. Is the person married? Married people are coded "1" and everyone else is coded "0".
4. Is the person a millennial? People born between 1980 and 1996 are coded "1" and those born in other years are coded "0",

As you have probably already figured out, dummy variables are used primarily for data that is qualitative and cannot be ranked in any way. For example, being married is qualitative and "married" is neither higher nor lower than "single".  But they are sometimes also used for variables that are qualitative and ranked, such as level of education. Further, dummy variables are sometimes used for variables that are quantitative, such as age groupings. 

It is important to remember that dummy variables must always be used when we want to include categorical (qualitative) variables in our analysis. These are variables such as sex, gender, race, marital status, religiosity, immigration status etc. We can’t use these variables without creating a dummy variable because the results found would in no way be meaningful.

#### 6.3.1 Creating dummy variables using `generate`

As an example, let's create a dummy variable which indicates if the observation is identified as female. To do this, we are going to use the command `generate` which generates a completely new variable.

In [8]:
generate female = ( sex == "F")

What Stata does here is that it defines our dummy variable as 1 whenever the condition `sex == "F" ` holds. Otherwise, it makes the variable take the value of zero. Depending on what we're doing, we may want it to be the case that our dummy takes on the value of 0 when `sex` is missing. Let's do that below.

In [9]:
generate female = ( sex == "F")  if !mi(sex)

variable female already defined

r(110);

Whoops! We got an error. This says that our variable is already defined. Stata does this because it doesn't want us to accidentally overwrite an existing variable. Whenever we want to replace an existing variable, we have to use the command `replace`.

In [10]:
replace female = ( sex == "F")  if !mi(sex)

(0 real changes made)

We could have also used the command `capture drop female` before we used `generate`. The `capture` command tells Stata to ignore any error in the command that immediately follows. In this example, this would do the following: 

-  If the variable that is being dropped didn't exist, the `drop female` command would automatically create an error. The `capture` command tells Stata to ignore that problem. 
- If the variable did exist already, the `drop female` command would work just fine, so that line will proceed as normal.

#### 6.3.2 Creating dummy variables using `tabulate`

We already talked about how to create dummy variables with generate and replace. Let’s see how this can be done for a whole set of dummy variable. For our example, this will be one dummy for each region identified in the data set.

In [11]:
tabulate region, generate(reg)

     region |      Freq.     Percent        Cum.
------------+-----------------------------------
          1 |    660,053       23.06       23.06
          2 |    575,994       20.13       43.19
          3 |    516,046       18.03       61.22
          4 |    612,871       21.42       82.64
          5 |    496,808       17.36      100.00
------------+-----------------------------------
      Total |  2,861,772      100.00

This command generated five new dummy variables, one for each region category. We asked Stata to call these variables "reg" and so these five new variables are called reg1, reg2, reg3, reg4, and reg5. When we run the command `des reg*`, we will see all of the variables whose names start with "reg" listed. Stata has helpfully labeled these variables with data labels from marstat. You might want to change the names for your own project to something that is more meaningful to you.

In [12]:
des reg*

Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
region          byte    %8.0g
reg1            byte    %8.0g                 region== 1.0000
reg2            byte    %8.0g                 region== 2.0000
reg3            byte    %8.0g                 region== 3.0000
reg4            byte    %8.0g                 region== 4.0000
reg5            byte    %8.0g                 region== 5.0000

## 6.4 Generating Variables Based on Expressions

Sometimes we want to generate variables after some transformations (e.g. squaring, taking logs, combining different variables). We can do that by simply writing the expression for the desired transformation. For example, let's create a new variable that is simply the natural log of earnings.

In [13]:
gen log_earnings = log(earnings)

In [14]:
summarize earnings log_earnings

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
    earnings |  2,861,772    71809.02    203237.9   8.881357   1.90e+08
log_earnings |  2,861,772    10.49047    1.176193   2.183954   19.06253

Let's try a second example. Let's create a new variable that is the number of years since the year the individual started working.

In [15]:
gen experience_proxy = year - start_year

In [16]:
summarize experience_proxy

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
experience~y |  2,861,772     6.04757     4.51151          0         16

## 6.5 Following Good Naming Conventions

Choosing good names for your variables is more important, and harder, than you might think! Some of the variables in an original data set may have very unrecognizable names, which may be confusing when conducting research. In these cases, changing them early on is preferable. You will also be creating your own variables, such as dummy variables for qualitative measures, and you will want to be careful about giving them good names. This will become even more pertinent once you start generating tables, since you will want all of your variables to have high-quality names that will carry over to your paper for ease of comprehension on the reader's part.

Luckily, you can always rename your variables with the command `rename`. Let' try to rename one of the dummy variables we just created above. Maybe we know that if region = 3 then the region is in the west.

In [17]:
rename reg3 west
des west

Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
west            byte    %8.0g                 region== 3.0000

Importantly, we don't need to include every piece of information in our variable name. Most of the important information is included in the variable label (more on that in a moment). We should always avoid variable names that include unnecessary pieces of information and can only be interpreted by the researcher. 


<div class="alert alert-info">

**Pro tip:**  Put all of your variables in lower case to avoid errors (since Stata is case sensitive). 
</div>

## 6.6 Creating Variable Labels

It is important that anyone using our data set knows what each variable measures. We can add a new label, or change a variable label, at any time by using the label variable command. Continuing the example from above, if we create a new dummy variable indicating whether people are female, we will want to add a label to this new variable. To do this, the appropriate command would be:

In [18]:
label variable female "Female Dummy"

When we describe the data, we will see this extra information in the variable label column.

In [19]:
des female

Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
female          float   %9.0g                 Female Dummy

## 6.7 Wrap Up

When we are doing our own research, we *always* have to spend some time working with the data before beginning our analysis. In this module, we have learned some important tools for manipulating data to get it ready for that analysis. Like everything else that we do in Stata, these manipulations should be done in a do-file, so that we always know exactly what we have done with our data. Losing track of those changes can cause some very serious mistakes when we start to do our research! In the next module, we will look at how to do analysis on the sub-groups of variables in our data set.

## References

[How to create a date variable from a date stored as a string](https://www.youtube.com/watch?v=M3XVgPJuFzU) <br>
[How to create a categorical variable from a continuous variable](https://www.youtube.com/watch?v=XWVaXN2KwmA) <br>
[How to create a new variable that is calculated from other (multiple) variables](https://www.youtube.com/watch?v=E_wCh0rf4p8)