# ECON 490: Merge and Append (8)

## Prerequisites 

1. Change your directory so that Stata can find your files.
2. Import datasets in csv and dta format. 

## Learning Outcomes

1. Add new variables to an existing data set using `merge`.
2. Add new observations to already existing variables `append`.

## 8.1 Introduction to Merge and Append

Often when we are working with data sets it is necessary to merge or append existing data with other data sets. For example, imagine that we want to do one of the following:

- We want to run a regression that has the number of births as the main dependent variable and education level of the mother as an explanatory variable. We have two such micro data sets, one from Canada and one from the US, and we want to combine them into one data set that includes observations from both countries. To do our research, we need to take one data set (say, the Canadian data) and append to it the second data set (here, the US data). This final data set will have same number of variables as the initial data set(s), but the number of observations will be the number of observations in the Canadian data set plus the number of observations in the US data set.

- We want to run a regression that has the national fertility rate as the main dependent variable and GDP/capita as an explanatory variable. We have one macro data set that has three variables - country, year, and fertility rate - and a second macro data set also with three variables - country, year, and GDP/capita. To do our research, we need to merge these two data sets to create a final data set. That final data set will have the same number of observations as the initial data set(s), but now with four variables: country, year, fertility rate and GDP/capita. 

In this notebook, we will learn how to undertake these two approaches to combining data sets: using merge and append. 

We'll continue working with our fake data. Recall that this data set is simulating information of workers in the years 1982-2012 in a fake country where a training program was introduced in 2003 to boost their earnings.

In [1]:
clear*

use fake_data, clear

## 8.2 Getting Ready to Merge and Append

Before introducing the command `merge`, we need the follow the steps below in order to properly combine datasets.

#### 8.2.1 Check the data set's unique identifiers 

The key to merging data sets is to understand which variable(s) uniquely identifies each observation.

Let's look at our data.

In [2]:
%browse 10

     +----------------------------------------------------------------------+
  1. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        1 | 1999 |   M |  55 |     1997 |      1 |       0 | 39975.01 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .2607649                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  2. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        1 | 2001 |   M |  57 |     1997 |      1 |       0 | 278378.1 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .0142739                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  3. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        2 | 2001 |   M |  54 |     2001 |      4 |       0 |  18682.6 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .0321868                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  4. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        2 | 2002 |   M |  55 |     2001 |      4 |       0 | 293336.4 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .4712022                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  5. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        2 | 2003 |   M |  56 |     2001 |      4 |       0 | 111797.3 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                                .704381                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  6. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        3 | 2005 |   M |  54 |     2005 |      5 |       0 | 88351.67 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .3559006                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  7. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        3 | 2010 |   M |  59 |     2005 |      5 |       0 | 46229.57 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .8969152                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  8. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        4 | 1997 |   M |  45 |     1997 |      5 |       1 | 24911.03 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .3990085                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
  9. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        4 | 2001 |   M |  49 |     1997 |      5 |       1 | 9908.362 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                               .5519462                               |
     +----------------------------------------------------------------------+

     +----------------------------------------------------------------------+
 10. | workerid | year | sex | age | start_~r | region | treated | earnings |
     |        5 | 2009 |   M |  55 |     1998 |      2 |       1 | 137207.3 |
     |----------------------------------------------------------------------|
     |                               sample~t                               |
     |                                .014439                               |
     +----------------------------------------------------------------------+

Here we can see that each observation in the "fake_data" data set is identified by the variables *workerid* and *year* (worker-year pairs). 

We can check to see if this is correct using the command `duplicates report`.

In [3]:
duplicates report workerid year

Duplicates in terms of workerid year

--------------------------------------
   copies | observations       surplus
----------+---------------------------
        1 |       138138             0
--------------------------------------

What this table shows is that there are 2,861,772 *workerid-year* combinations (which is exactly equal to all of our observations). This means that every observation we have corresponds to a worker in a particular year. 

Let's take a look at a different data set now also stored in this folder.

In [5]:
gen log_earnings = log(earnings)
collapse (mean) avg_log_earnings=log_earnings (count) total_employment = log_earnings, by(region year)
la var avg_log_earnings "Average Log-earnings in Region-Year Cell"

In [6]:
%browse 10

     +-------------------------------------+
     | year   region   avg_lo~s   total_~t |
     |-------------------------------------|
  1. | 1995        1   10.58191       4049 |
  2. | 1996        1   10.54678       4129 |
  3. | 1997        1   10.57837       4187 |
  4. | 1998        1   10.65015       4191 |
  5. | 1999        1   10.66997       4066 |
     |-------------------------------------|
  6. | 2000        1   10.67118       3957 |
  7. | 2001        1   10.71524       3789 |
  8. | 2002        1   10.71878       3632 |
  9. | 2003        1   10.77425       3405 |
 10. | 2004        1   10.73851       3140 |
     +-------------------------------------+

In this case, it seems that every observation corresponds to a region and year combination. Again, we can use `duplicates report` to see if the variables _region_ and *year* uniquely identify all observations.

In [7]:
duplicates report region year

Duplicates in terms of region year

--------------------------------------
   copies | observations       surplus
----------+---------------------------
        1 |           85             0
--------------------------------------

The table shows that there is not a single case of repeated observations. Hence, we will refer to these variables as the "unique identifiers".

#### 8.2.2 Identify the "master" and "using" data sets

When merging data we need to decide which data set will be the primary data set (Stata refers to this data set as "master") and which will be the secondary data set (Stata refers to this data set as "using"). Often, it will not matter which is the master and which is the using data set; however, we need to know which is which in order to properly interpret our results.

#### 8.2.3 Identify the matching observations 

There are three main ways to match observations. The first is when both observations share the same unique identifiers, so that one observation in the master data set is matched to one observation in the using data set (referred to as a `1:1` merge). The other two ways arise when we match multiple observations in the master data set to one observation in the using data set (referred to as a `m:1` merge), or one observation in the master data set to multiple observations in the using data set (referred to as a `1:m` merge).

## 8.3 Merging Data Sets

Once we have the master and using data sets, we know our unique identifiers and what type of match we are doing, we are able to merge the data sets. 

We begin by having the master data opened in our current Stata session. For the sake example, let's suppose we want to set "fake_data" as the master data set, and use "region-year"  as the using data set. 

We already know that the "fake_data" data set's unique identifiers are *workerid* and *year*, while the "region-year" data set's unique identifiers are *region* and *year*. The variables we use to link both data sets have to be the unique identifiers that are present in both data sets. Because *workerid* does not exist in the region-level data set, we will use the variables *region* and *year* for our merge. 

This means that for every region in the using data set, there will be many observations in the individual level (master) data set to be matched. Therefore, this will be a `m:1` merge.

In [8]:
use fake_data, clear 
gen log_earnings = log(earnings)
collapse (mean) avg_log_earnings=log_earnings (count) total_employment = log_earnings, by(region year)
la var avg_log_earnings "Average Log-earnings in Region-Year Cell"
save region_year_data, replace

(note: file region_year_data.dta not found)
file region_year_data.dta saved

In [9]:
use fake_data, clear  // This sets this data set as the master

In [10]:
merge m:1 region year using region_year_data

    Result                           # of obs.
    -----------------------------------------
    not matched                             0
    matched                           138,138  (_merge==3)
    -----------------------------------------

Let's analyze the table above. It says that there were 406,963 observations in the master data which couldn't be matched to any observation in the using data set. This is due to the fact that our data set at the region-year level does not have information for some years. 

Furthermore, the table shows that every observation from the using data set got matched to some observation in the master data set. The total number of matched observations is roughly 2.5 million. All of this information gets recorded in a new variable named *_merge*. Because of this, it is good practice to write `cap drop _merge` before running a merge command. 

Think about the following question: would we get the same results if we switched the master and using datasets?

In [11]:
use region_year_data, clear
merge 1:m region year using fake_data

    Result                           # of obs.
    -----------------------------------------
    not matched                             0
    matched                           138,138  (_merge==3)
    -----------------------------------------

Indeed, we get the same information. We typically want to restrict to observations that were correctly matched across datasets.

In [12]:
keep if _merge==3

(0 observations deleted)

<div class="alert alert-block alert-warning">
    
<b>Warning:</b> Before dropping the unmerged observations, make sure you spend some time thinking about why they did not merge and correct any errors that you identify. For example, maybe your identifier is country and country names are different in the two data sets (i.e. one data set has "Barbados" and another data set has "The Barbados"). If this is the case, you will want to change one of these names and attempt your match a second time by merging again.   
</div>

## 8.4 Appending Data Sets

We have used `merge` to combine data sets horizontally (we have added columns/variables to the master data set). However, if we want to combine datasets vertically (add observations to the master data set) we can use `append`. Adding new information with `append` is very simple compared to working with `merge`. When we have a master data set opened in our session, we can add observations using the syntax:

```stata
    append using new_dataset
```

This command will add new observations to our master data set, so long as the variables across both data sets have the exact same name.

## 8.5 Wrap Up

In this module we learned how to combine different data sets. This is an extremely useful skill, especially when we are undertaking panel data regressions. We will be learning more about these types of regressions in Module 17. Next, we will switch our focus to data visualization and look at how to graph in Stata.

## References

[Merge files into a single dataset](https://www.youtube.com/watch?v=niGZBRyyDuY) <br>
[Append files into a single dataset](https://www.youtube.com/watch?v=AZGW8tohiqw)