# ECON 490: R Essentials (3)

## Prerequisites 
---
* Understand the basics of R such as data types and structures.


## Learning objectives:
---

After completing this notebook, you will be able to:

* Identify and understand the packages and commands needed to load, manipulate, and combine dataframes in R
* Load data using R in a variety of forms
* Create and reformat data, including as factor variables
* Handle missing data
* Select subsets of the dataset for use
* Combine and append data
* Apply these packages and commands using 2016 Census data


#### References
---
* [Introduction to Probability and Statistics Using R](https://mran.microsoft.com/snapshot/2018-09-28/web/packages/IPSUR/vignettes/IPSUR.pdf)
* [DSCI 100 Textbook](https://datasciencebook.ca/index.html)

We will start this project by focusing on loading and cleaning up our data-set: these are **fundamental** skills which will be necessary for essentially every data project we will do.  This process usually consists of three steps:

1.  We load the data into R, meaning we take a file on our computer and tell R how to interpret it.
2.  We clean up the data by removing missing variables or adjusting the way they are interpreted.
3.  We select and filter the data into an appropriate dataset for our project, which can involve creating or deleting variables or observations.

In this module, we will cover each of these three steps in detail. Let's start by looking at the loading process.

## Loading Data

Remember, before we can load the data we need to tell R what **packages** we will be using in the notebook. Without these packages, R will not have access to the appropriate functions needed to interpret our raw data. As explained in the previous lesson, packages only need to be installed once; however, they need to be imported every time we open a notebook.

We have discussed packages previously: for data loading, the two most important ones are `tidyverse` and `haven`.
* `tidyverse` should already be somewhat familiar. It includes a wide range of useful functions for working with data in R.
* `haven` is a special package containing functions that can be used to import data.

Let's get started by loading them now.

In [1]:
# loading in our packages
library(tidyverse)
library(haven)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Data can be created by different programs and stored in different styles - these are called **file types**. We can usually tell what kind of file type we are working with by looking at the extension.  For example, a text file usually has an extension like `.txt`.  The data we will be using in this course is commonly stored in Stata, Excel, text, or comma-separated variables files.  These have the following types:

* `.dta` for a Stata data file
* `.xls` or `.xlsx` for an Excel file
* `.txt` for a text file
* `.csv` for a comma-separated variables file

To load any dataset, we need to use the appropriate function in order to specify to R in which format the data is stored. 

- To load a `.csv` file we use the command `read_csv("file name")`
- To load a STATA data file we use the command `read_dta("file name")`
- To load an Excel file we the command `read_excel("file name")`
- To load a text file we use the command `read_table("file name", header = FALSE)`.
  - The header argument specifies whether or not we have specified column names in our data file. 
  
> **Note:** if we are using an Excel file, we need to load in the package `readxl` alongside the `tidyverse` and `haven` packages above to read the file.

In this module, we will be working with a simulated dataset on worker information over many years, and their participation in a training program to boost their earnings.  The file name is `fake_data.csv` and `fake_data.dta` (same data but in different formats).

#### Exercise: Load in the Dataset

Which function should we use to load this file? Write the name of the function just before the brackets (e.g. `read_table`)

Did you get it?  Okay, now replace the `???` in the code below with that function to load the data!

In [5]:
# reading in the data
fake_data <- read_csv("../econ490-stata/fake_data.csv")  #change me!

# inspecting the data
glimpse(fake_data)

Rows: 2861772 Columns: 9

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): sex
dbl (8): workerid, year, birth_year, age, start_year, region, treated, earnings


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 2,861,772
Columns: 9
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <dbl> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300, 8~

In [6]:
fake_data_dta <- read_dta("../econ490-stata/fake_data.dta") #Provided in the haven package

In [8]:
# inspecting the data
glimpse(fake_data_dta)

Rows: 2,861,772
Columns: 9
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <dbl> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.008, 278378.062, 18682.600, 293336.406, 111797.258, 8~

## Cleaning Data
Now that we've loaded in our data, the next step is to do some rudimentary cleaning of our data. This can include redefining and factorizing variables, defining new variables, and dropping missing observations.

### Factor Variables

We have already seen that there are different types of variables which can be stored in R. Namely, there are quantitative variables and qualitative variables. Any quantitative variable can be stored in R as a set of strings or letters. These are known as **character** variables. Qualitative variables can also be stored in R as factor variables. Factor variables will associate a qualitative response to a categorical value, making analysis much easier. Additionally, data is often **encoded** which means that the levels of a qualitative variable have been represented by "codes", usually in numeric form.

Look at line `region` in the output from `glimpse` above:

```
region     <dbl> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
```

The `region` variable in this dataset corresponds to a particular region that the worker is living in. We could also see the variable type is `<dbl+lbl>`: this is a _labeled double_. This is good: it means that R already understands what the levels of this variable mean.

There are three similar ways to change variables into factor variables. 

1.  We can change a specific variable inside a dataframe to a factor by using the `as_factor` command

In [10]:
fake_data <- fake_data %>%  #we start by saying we want to update the data, AND THEN... (%>%)
    mutate(region = as_factor(region)) #mutate (update) pr to be a factor variable

glimpse(fake_data)

Rows: 2,861,772
Columns: 9
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <fct> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300, 8~

Do you see the difference in the `region` variable?  You can also the type has changed to `<fct>` for **factor variable**.

If and only if the type was `<dbl+lbl>`, R would already know how to "decode" the factor variables from the imported data.  But what if that wasn't the case?  This brings us to the next method.

2.  We can **supply a list of factors** using the `factor` command.   This command takes two other values:
    * A list of levels the qualitative variable will take on
    * A list of labels, one for each level, which describes what each level means
    
We can create a custom factor variable as follows:

In [17]:
#first, we write down a list of levels
region_levels = c(1:5)
#then, we write down a list of our labels
region_labels = c('Region A', 'Region B', 'Region C', 'Region D', 'Region E')

#now, we use the command but with some options - telling factor() how to interpret the levels

fake_data <- fake_data %>%  #we start by saying we want to update the data, AND THEN... (%>%)
    mutate(region2 = factor(region,   #notice it's factor, not as_factor
                          levels = region_levels, 
                          labels = region_labels)) #mutate (update region) to be a factor of regions
glimpse(fake_data)

Rows: 2,861,772
Columns: 10
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <fct> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300, 8~
$ region2    <fct> Region A, Region A, Region D, Region D, Region D, Region E,~

Again, do you see the difference between `region` and `region2` here?  This is how we can customize factor labels when creating new variables.

3.  The final method is very similar to the first; if we have a large dataset, it can be tiresome to decode all of the variables one-by-one.  Instead, we can use `as_factor` on the **entire dataset** and it will convert all of the variables with appropriate types.

In [18]:
fake_data <- as_factor(fake_data)
glimpse(fake_data)

Rows: 2,861,772
Columns: 10
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <fct> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300, 8~
$ region2    <fct> Region A, Region A, Region D, Region D, Region D, Region E,~

This is our final dataset, all cleaned up.  Notice that some of the variables (e.g. `sex`) were _not_ converted into factor variables.  

> **Test Your Knowledge**: Can you tell why?

### Creating New Variables

Another important clean-up task is to make new variables.  It's pretty uncommon for a dataset to already contain all of the variables we want!

To do this, we can use the `mutate` command again: in fact, when we were making factor variables earlier, we were, in a sense, already making new variables!  However, let's see how we can do something more complex/

As we mentioned, to create any new variable we use the command `mutate`. This command is an efficient way of manipulating the columns of our dataframe.  We supply to mutate a formula for creating the new variable:

```{r}
census_data <- census_data %>%
        mutate(new_variable_name = function(stuff))
```

Let's see it in action with `log_wages`, a command we will use to create a new variable for the natural logarithm of wages. This can be quite useful for many models.

In [19]:
fake_data <- fake_data %>%
        mutate(log_earnings = log(earnings)) #the log function

glimpse(fake_data)

Rows: 2,861,772
Columns: 11
$ workerid     <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, ~
$ year         <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 200~
$ sex          <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M~
$ birth_year   <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 195~
$ age          <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 4~
$ start_year   <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 199~
$ region       <fct> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, ~
$ treated      <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ earnings     <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300,~
$ region2      <fct> Region A, Region A, Region D, Region D, Region D, Region ~
$ log_earnings <dbl> 10.596010, 12.536736, 9.835348, 12.589075, 11.624443, 11.~

Do you see our new variable at the bottom?  Nice!

#### The `case_when` function

We can also use more complex functions.  We won't cover all of them in this notebook, but we will mention one very important example: the `case_when` function.  This function creates different values for an input based on specified cases. You can read more about it by running the code block below.

In [ ]:
?case_when

The bottom line is that it consists of a series of lines, and each line gives a (i) case and (ii) value for the case.
> **Tip**: you can create a "default" case by using TRUE as the case in the last line.

Suppose we are looking at our `pkids` variable and find it frustrating that it has three levels (`'none', 'one or more', 'not applicable'`).  We are interested in creating a dummy variable which is equal to one if the respondent has children and zero otherwise. Let's call it `has_kids`. We can use the `case_when()` function to achieve this!

In [8]:
fake_data <- fake_data %>% 
    mutate(female_dummy = case_when( #make a new variable, call it female_dummy
        pkids == "none" ~ 0, #case 1: pkids is "none"; output is 0 (no kids)
        pkids == "one or more" ~ 1, #case 2: "one or more"; output is 1 (kids)
        pkids == 'not applicable' ~ 0)) #case 2: "not applicable"; output is 0 (no kids)

glimpse (census_data)

Rows: 391,938
Columns: 18
$ ppsort    <dbl> 453141, 732612, 143665, 52611, 36927, 268123, 700087, 488335~
$ agegrp    <fct> 35 to 39 years, 40 to 44 years, 55 to 59 years, 50 to 54 yea~
$ ageimm    <fct> not applicable, not applicable, not applicable, not applicab~
$ cip2011   <fct> "08 architecture, engineering, and related technologies", "0~
$ fol       <fct> english only, english only, french only, french only, englis~
$ hdgree    <fct> "certificate of apprenticeship or certificate of qualificati~
$ immstat   <fct> non-immigrants, non-immigrants, non-immigrants, non-immigran~
$ kol       <fct> english only, both english and french, both english and fren~
$ lfact     <fct> employed - worked in reference week, employed - worked in re~
$ locstud   <fct> ontario, ontario, prince edward island, quebec, not applicab~
$ mrkinc    <dbl> 97000, 41000, 30000, 54000, 27000, 40000, 69000, 56000, 3000~
$ pkids     <fct> one or more, one or more, none, none, one or more, one or mo~
$ pr        <fct> ontario, ontario, prince edward island, quebec, ontario, ont~
$ sex       <fct> male, female, female, male, male, male, female, female, fema~
$ vismin    <fct> "not a visible minority", "not a visible minority", "not a v~
$ wages     <dbl> 95000, 19000, 29000, 52000, 27000, 57000, 70000, 55000, NA, ~
$ log_wages <dbl> 11.461632, 9.852194, 10.275051, 10.858999, 10.203592, 10.950~
$ has_kids  <dbl> 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, ~

Notice that `has_kids` is not a factor variable.  We have to add on the appropriate code to do that.

#### Exercise: Factorize `has_kids`

Create an object, stored in `answer1`, in which the census_data dataframe is identical to the one above but in which the `has_kids` variable is also in factor form.

In [ ]:
answer1 <- census_data %>% 
                ???

test_1()

#### More Complex Variables
We can also create dummy variables from more complex variables. For example, we can create a dummy variable called `retired`. If the person is of retirement age then it will equal one. If they are younger than 65 (not of retirement age) then it will equal zero. To create this new variable we need to join many categories of the `agegrp` variable into one.

In [9]:
census_data <- census_data %>% 
    mutate(retired = case_when((agegrp == "65 to 69 years")|(agegrp == "70 to 74 years")|(agegrp == "75 to 79 years")|(agegrp == "80 to 84 years")|(agegrp == "85 years and over") ~ 1, 
                               TRUE ~ 0)) %>% ##otherwise
    mutate(retired = as_factor(retired)) #factor

glimpse(census_data)

Rows: 391,938
Columns: 19
$ ppsort    <dbl> 453141, 732612, 143665, 52611, 36927, 268123, 700087, 488335~
$ agegrp    <fct> 35 to 39 years, 40 to 44 years, 55 to 59 years, 50 to 54 yea~
$ ageimm    <fct> not applicable, not applicable, not applicable, not applicab~
$ cip2011   <fct> "08 architecture, engineering, and related technologies", "0~
$ fol       <fct> english only, english only, french only, french only, englis~
$ hdgree    <fct> "certificate of apprenticeship or certificate of qualificati~
$ immstat   <fct> non-immigrants, non-immigrants, non-immigrants, non-immigran~
$ kol       <fct> english only, both english and french, both english and fren~
$ lfact     <fct> employed - worked in reference week, employed - worked in re~
$ locstud   <fct> ontario, ontario, prince edward island, quebec, not applicab~
$ mrkinc    <dbl> 97000, 41000, 30000, 54000, 27000, 40000, 69000, 56000, 3000~
$ pkids     <fct> one or more, one or more, none, none, one or more, one or mo~
$ pr        <fct> ontario, ontario, prince edward island, quebec, ontario, ont~
$ sex       <fct> male, female, female, male, male, male, female, female, fema~
$ vismin    <fct> "not a visible minority", "not a visible minority", "not a v~
$ wages     <dbl> 95000, 19000, 29000, 52000, 27000, 57000, 70000, 55000, NA, ~
$ log_wages <dbl> 11.461632, 9.852194, 10.275051, 10.858999, 10.203592, 10.950~
$ has_kids  <dbl> 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, ~
$ retired   <fct> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~

In general, we want to create a dummy variable to identify which individuals have a certain characteristic and which ones don't. This type of variable is very useful in many models which have trouble handling more complex types of data. You now know how to create these variables!

#### Exercise: Adding a Variable
Create an object `answer2` in which the `census_data` dataframe now has an extra dummy variable called `knows_english` which is equal to 1 if the respondent knows English and 0 if not. Make sure that this variable is factorized.

In [ ]:
answer2 <-

test_2()

### Removing Missing Data

We must go through the important step of cleaning our data. For example, if we wanted to create a dummy called `visible_minority_status` (1 if the person identifies as a visible minority), we would get our values from the variable `vismin`. However, if we check the different levels and labels of that variable we can see for some individuals their visible minority status is not available. Therefore, we have to decide how to handle this situation.

> **Important Note**: choosing which observations to drop is always an important research decision. There are even other ways to handle missing data beyond just dropping it - for instance, by treating "missing" as its own valid category. These decisions have important consequences for your analysis, and should always be carefully thought through - especially if the reasons why data are missing might not be random. <br>
**Think Critically**: can you think of any reasons `vismin` might be missing which are not random?  What would the consequences be if we then dropped those observations?


Let's start with simply removing the observations where data is not available. To do this, we will use the `filter()` method which conditionally drops observations. Each row (observation) is evaluated against the supplied condition. Only observations where the condition is true or met are retained (selection by inclusion) in the dataframe. The `filter()` method checks all rows at once, not just one at a time. Let's see it in action below.

In [10]:
glimpse(filter(census_data, vismin != "not available"))

Rows: 382,276
Columns: 19
$ ppsort    <dbl> 453141, 732612, 143665, 52611, 36927, 268123, 700087, 488335~
$ agegrp    <fct> 35 to 39 years, 40 to 44 years, 55 to 59 years, 50 to 54 yea~
$ ageimm    <fct> not applicable, not applicable, not applicable, not applicab~
$ cip2011   <fct> "08 architecture, engineering, and related technologies", "0~
$ fol       <fct> english only, english only, french only, french only, englis~
$ hdgree    <fct> "certificate of apprenticeship or certificate of qualificati~
$ immstat   <fct> non-immigrants, non-immigrants, non-immigrants, non-immigran~
$ kol       <fct> english only, both english and french, both english and fren~
$ lfact     <fct> employed - worked in reference week, employed - worked in re~
$ locstud   <fct> ontario, ontario, prince edward island, quebec, not applicab~
$ mrkinc    <dbl> 97000, 41000, 30000, 54000, 27000, 40000, 69000, 56000, 3000~
$ pkids     <fct> one or more, one or more, none, none, one or more, one or mo~
$ pr        <fct> ontario, ontario, prince edward island, quebec, ontario, ont~
$ sex       <fct> male, female, female, male, male, male, female, female, fema~
$ vismin    <fct> "not a visible minority", "not a visible minority", "not a v~
$ wages     <dbl> 95000, 19000, 29000, 52000, 27000, 57000, 70000, 55000, NA, ~
$ log_wages <dbl> 11.461632, 9.852194, 10.275051, 10.858999, 10.203592, 10.950~
$ has_kids  <dbl> 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, ~
$ retired   <fct> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~

> **Recall**: The operator `!=` is a conditional statement for "not equal to". Therefore we are telling R to keep the observations that are not equal to "not available".

Notice the change in the number of observations here.  Now that `NA` data has been deleted we can create the dummy!

In [11]:
census_data <- filter(census_data, vismin != "not available")

census_data <- census_data %>% 
    mutate(minority = case_when(vismin == "not a visible minority" ~ 0, 
                                TRUE ~ 1)) %>%
    mutate(minority = as_factor(minority))
           
glimpse(census_data)

Rows: 382,276
Columns: 20
$ ppsort    <dbl> 453141, 732612, 143665, 52611, 36927, 268123, 700087, 488335~
$ agegrp    <fct> 35 to 39 years, 40 to 44 years, 55 to 59 years, 50 to 54 yea~
$ ageimm    <fct> not applicable, not applicable, not applicable, not applicab~
$ cip2011   <fct> "08 architecture, engineering, and related technologies", "0~
$ fol       <fct> english only, english only, french only, french only, englis~
$ hdgree    <fct> "certificate of apprenticeship or certificate of qualificati~
$ immstat   <fct> non-immigrants, non-immigrants, non-immigrants, non-immigran~
$ kol       <fct> english only, both english and french, both english and fren~
$ lfact     <fct> employed - worked in reference week, employed - worked in re~
$ locstud   <fct> ontario, ontario, prince edward island, quebec, not applicab~
$ mrkinc    <dbl> 97000, 41000, 30000, 54000, 27000, 40000, 69000, 56000, 3000~
$ pkids     <fct> one or more, one or more, none, none, one or more, one or mo~
$ pr        <fct> ontario, ontario, prince edward island, quebec, ontario, ont~
$ sex       <fct> male, female, female, male, male, male, female, female, fema~
$ vismin    <fct> "not a visible minority", "not a visible minority", "not a v~
$ wages     <dbl> 95000, 19000, 29000, 52000, 27000, 57000, 70000, 55000, NA, ~
$ log_wages <dbl> 11.461632, 9.852194, 10.275051, 10.858999, 10.203592, 10.950~
$ has_kids  <dbl> 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, ~
$ retired   <fct> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ minority  <fct> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, ~

Now if we wanted to check whether there is a difference between the wages of those who are and are not visible minorities, we could create a table, make a chart or run some calculations, all concepts we will learn about in other notebooks.

#### Exercise: Removing Missing Data

Create an object `answer3` which uses the `filter()` function to drop values of "NA" from `pkids` in our census dataframe.

In [ ]:
answer3 <- census_data %>% ???

test_3()

### Changing Variable Names 

One optional step in our data cleaning process is changing the names of variables so they are easily accessible when producing research. More specifically, this means making all of our variable names short and descriptive. Many datasets from statistical agencies will have excellent variable names, so this is a conventional and helpful process to go through when we encounter a dataset with non-descriptive names. For instance, many older datasets have variables with names like `EDMM1928`, which are not terribly helpful!

We can use the command `rename(new name = old name)` to change a variable's name.

In [12]:
head(census_data) %>% 
    rename(highest_degree = hdgree)

  ppsort agegrp         ageimm
1 453141 35 to 39 years not applicable
2 732612 40 to 44 years not applicable
3 143665 55 to 59 years not applicable
4  52611 50 to 54 years not applicable
5  36927 20 to 24 years not applicable
6 268123 35 to 39 years not applicable
  cip2011                                                fol
1 08 architecture, engineering, and related technologies english only
2 06 physical and life sciences and technologies         english only
3 05 business, management and public administration      french only
4 11 personal, protective and transportation services    french only
5 no postsecondary certificate, diploma or degree        english only
6 no postsecondary certificate, diploma or degree        english only
  highest_degree
1 certificate of apprenticeship or certificate of qualification
2 bachelor's degree
3 program of 1 to 2 years (college, cegep and other non-university certificates or diplomas)
4 trades certificate or diploma other than certificate of apprenticeship or certificate of qualification
5 secondary (high) school diploma or equivalency certificate
6 secondary (high) school diploma or equivalency certificate
  immstat        kol                     lfact
1 non-immigrants english only            employed - worked in reference week
2 non-immigrants both english and french employed - worked in reference week
3 non-immigrants both english and french employed - worked in reference week
4 non-immigrants french only             employed - worked in reference week
5 non-immigrants english only            employed - worked in reference week
6 non-immigrants english only            employed - worked in reference week
  locstud              mrkinc pkids       pr                   sex
1 ontario              97000  one or more ontario              male
2 ontario              41000  one or more ontario              female
3 prince edward island 30000  none        prince edward island female
4 quebec               54000  none        quebec               male
5 not applicable       27000  one or more ontario              male
6 not applicable       40000  one or more ontario              male
  vismin                 wages log_wages has_kids retired minority
1 not a visible minority 95000 11.461632 1        0       0
2 not a visible minority 19000  9.852194 1        0       0
3 not a visible minority 29000 10.275051 0        0       0
4 not a visible minority 52000 10.858999 0        0       0
5 not a visible minority 27000 10.203592 1        0       0
6 not a visible minority 57000 10.950807 1        0       0

## Adding and Removing Data
The final step involves bringing in new data from other datasets or dropping existing data from our dataset entirely. In this step, we must always think very carefully about the purpose of our data in terms of the research we are doing. That guides us our decision to utilize new datasets and removing information from our existing one.

### Combining Datasets

Often we will need to draw on data from multiple datasets. Most of the time, these datasets will be available for download in different files (each for a given year, month, country, etc.). For example, if we are working with macroeconomic data from Statistics Canada such as inflation rates, GDP, and population, data for these variables may be stored in different datasets corresponding to different years. Thus, if we want to compile them we need to combine them into the same data frame.

There are two key ways of combining data, each reflecting different goals:

1.  When we want to add more observations from another dataset into our existing dataset, we call this **appending** data.
    * If you think of a dataset as a spreadsheet, this is like taking one dataset and "pasting" it into the bottom of a current dataset to add more observations. We do this when the observations from the other dataset have recorded data for all existing variables.
2.  When we want to add new variables and their data from another dataset into our existing dataset, we call this **merging** data.
    * This is like looking up values in a table and then adding a column; in Excel, this is called a `VLOOKUP`. Importantly, we can only merge data that share a common column or **key** to  identify observations with particular values. For example, if we want to merge in data from a different year but for the same people (observations) as those we are currently working with, datasets will usually have an identifying number for the person that functions as our key. In this dataset, every individual is identified by their `ppsort` number, so this is the key we would use to merge in new variables.

#### Appending Datasets
Let's say that our `census_data` dataset is inexplicably missing 2 observations, the people coded as 867543 and 923845. These people have recorded observations for all of the same variables as those in our existing dataframe, so we can simply append them to our census_data dataframe. Let's add these two people to our dataset for analysis by appending `extra_census_data` to `census_data`.

In [ ]:
extra_census_data <- data.frame(ppsort = c(867543, 923845), agegrp = c("20 to 24 years", "35 to 39 years"), 
                                ageimm = c("5 to 9 years", "0 to 4 years"), cip2011 = c("01 education", "01 education"),
                                fol = c("english only", "french only"), hdgree = c("bachelor's degree", "bachelor's degree"),
                                immstat = c("non-immigrants", "immigrants"), kol = c("english only", "french only"),
                                lfact = c("employed - worked in reference week", "employed - worked in reference week"),
                                locstud = c("ontario", "quebec"), mrkinc = c(20000, 34000), pkids = c("none", "one or more"),
                                pr = c("ontario", "quebec"), sex = c("male", "female"), vismin = c("chinese", "black"),
                                wages = c(15000, 30000), log_wages = c(9.615805, 10.308952), has_kids = c(0, 1),
                                retired = c(0, 0), minority = c(1, 1))

census_data <- rbind(census_data, extra_census_data)

glimpse(census_data)

Here we used the function `rbind()` to append these datasets. We did this because we were appending rows to the bottom of the dataframe. Our census_data dataset now has 2 more rows than before, meaning we have successfully appended these two observations to our dataframe for analysis.

#### Merging Datasets
Suppose now that we are undergoing research and realize that we would like to include religion in our analysis. However, we don't have a variable pertaining to it currently in our census_data dataset. Luckily, we find the dataset `more_census_data` which includes a dummy variable for whether the respondent ppsort is religious. This variable is coded as `religious` and equals 1 if the person self-identifies as religious and 0 if not.

In [ ]:
set.seed(123) #ignore this function!

more_census_data <- data.frame(ppsort = census_data$ppsort, religious = sample(0:1, 382278, replace = TRUE))

glimpse(more_census_data)

We can see from glimpsing the above dataset that it contains the same number of observations as our census_data dataset, one observation for each `ppsort` ID. For each `ppsort` ID, there is a corresponding dummy of 0 or 1 indicating whether that person is religious. Since this is a new variable we want to add to our existing dataset, we can merge this more_census_data into our existing dataframe to match up each `religious` entry to its corresponding `ppsort` ID within the larger census_data dataframe. We can do this with the function `merge()`. This function has the following default form:

Merged_Data <- merge(data frame A, data frame B, by="the variable that is common in both dataframes")

If the column on which we want to merge our datasets is named differently in the two dataframes, we must specify each column name in the by="" option above.

In [ ]:
census_data <- merge(census_data, more_census_data, by = "ppsort")
glimpse(census_data)

We can now see that our census_data dataset has an additional variable, `religious`, with data for each person. This was an example of a simple 1:1 (one-to-one) merge since there was a perfect match between the number of observations in both datasets. In this way, there were no extra observations in either. However, this will not often be the case. Suppose we only had half of the `ppsort` IDS in our more_census_data dataframe. When merging, we could have then chosen to create our merged dataframe with only those `ppsort` who can find a "match" in both datasets. We could do this with the `left_join()` or `right_join()` functions, using the former if our first specified dataset was census_data and the latter if our second specified dataset was census_data within the brackets of the function. If we instead had some observations in each dataset which did not have a match (the `ppsort` ID did not match) and we didn't want to lose these observations, we could use the `full_join()` option to retain all observations within both datasets in our final dataframe. Finally, if we wanted only those observations which had matching `ppsort` IDs across both datasets, we could use the `inner_join()` function, returning us a smaller dataset. This is implicitly what we did in our merge above; however, since all observations in both datasets matched on `ppsort`, we didn't lose anything. For a helpful clarification of these commands, check out the help menu for these specific merges below!

In [ ]:
?inner_join

#### Exercise: Combining Dataframes

Create an object `A` which is a dataframe with two columns and two rows. The first column should be called ID and have values 1 and 2, while the second collumn should be called value1 and have values 10 and 11. Then create a second object named `B` which is a dataframe with two columns and two rows. The first column should be called ID and perfectly match the IDs in `A`, while the second column should be called value2 and have values 12 and 13. Finally, merge these two dataframes along the ID column and store in the object `answer4`.

In [ ]:
# your code here

answer4 <- ???

test_4()

### Selecting and Filtering Data

Often times we have more data at our disposal than we actually need to answer the question at hand. Because the process of data collection is so resource-intensive, surveyors and researchers attempt to collect as much data as possible from each individual that is surveyed. This massive amount of data allows many research questions to be explored, even ones that weren't intended from the surveyors to begin with. The Canadian census is a great example of this. 

Let's assume we are interested in determining the gender pay gap for residents in British Columbia. Our current 2016 census dataset encompasses a whole host of data from nearly all residents in Canada and contains variables such as their age group, education level, income, minority status, etc. To help us with our analysis, we need to filter the census data only for residents in British Columbia. As mentioned above, the `filter()` method is used to conditionally drop rows. In our case, we can use the filter function to go through each observation in the data frame and check to see whether the province `pr` is coded as "british columbia", then drop all observations for which this is not the case.

> **Note**: we've seen this before, but to check equivalency in R and most programming languages, you need to use `==` as opposed to `=`.

In [ ]:
census_data <- census_data %>%
    filter(pr == "british columbia")

glimpse(census_data)

Sometimes we want to drop variables (columns) instead of observations (rows). The `select` method in R allows us to do this. We pass as parameters to the `select` function every column we wish to keep.

* `select(variables, I, want, to, keep)`
* `select(-variables, -I, -don't, -want)`

This is very useful and is usually done for practical reasons such as memory. Cleaning data sets to remove unessential information also allows us to focus our analysis and makes it easier to answer our desired research question. In our specific case, we want to keep data on just wages and sex. We will use the select function for this.

In [ ]:
head(census_data %>% select(wages, sex))

As seen above, this function allows us to look at the relationship between sex and wages more directly in our raw data. To finish finding the wage gap among British Columbians (keep in mind we have filtered out those who do not fit pr == "british columbia"), we can then invoke the `group_by()` and `summarize()` functions we have learned in past notebooks.

In [ ]:
# creating our more focused dataframe
answer <- census_data %>%
    mutate(sex = as_factor(sex)) %>% 
    filter(wages != "NA") %>%     
    group_by(sex) %>%
    summarize(average_wage = mean(wages))

answer

Using the `group_by` and `summarize` tools we learned in previous lessons has allowed us to address our research question. We find that the gender pay gap between male and female British Columbians is roughly $23,000.

#### Exercise: Using Select and Filter

Use `census_data` to create a data frame which only shows the highest education level `hdegree` for British Columbians with 100,000 CAD or more in wages. Your data frame should have a single column with the name as `hdegree`. Store your answer in the object `answer5`.

In [ ]:
answer5 <-

test_5()

## Conclusion
In this notebook, we have covered the basic process of working with data. You should now be familiar with how to load in data, how to define and redefine variables, how to drop missing observations, how to add in new data and drop existing data to meet your research purposes. This general scheme is critical to any research project, so it is important to keep in mind as you progress throughout your undergraduate economics courses and beyond.