# ECON 490: Opening Datasets (4)

## Prerequisites

1. Understand the basics of R such as data types and structures.


## Learning Outcomes

After completing this notebook, you will be able to:

1. Load a variety of data types into R using various functions.
2. View and reformat variables, specifically by factorizing.
3. Work with missing data.
4. Select subsets of observations and variables for use.

Run the code cell below before starting this notebook!

In [7]:
source("4_tests.r")

## 4.1 The Data Analysis Procedure
In this notebook, we will focus on loading, viewing and cleaning up our data set: these are **fundamental** skills which will be necessary for essentially every data project we will do.  This data analysis process usually consists of three steps:

1. We load the data into R, meaning we take a file on our computer and tell R how to interpret it.
2. We inspect the data through a variety of methods to ensure it looks good and has been properly loaded.
2. We clean up the data by removing missing observations and adjusting the way variables are interpreted.

In this module, we will cover each of these three steps in detail. Let's start by looking at the loading process.

## 4.2 Loading Data

Before we can load our data, we need to tell R which packages we will be using in our notebook. Without these packages, R will not have access to the appropriate functions needed to interpret our raw data. As explained previously, packages only need to be installed once; however, they need to be imported every time we open a notebook.

We have discussed packages previously: for data loading, the two most important ones are tidyverse and haven.
* tidyverse should already be somewhat familiar. It includes a wide range of useful functions for working with data in R.
* haven is a special package containing functions that can be used to import data.

Let's get started by loading them now.

In [5]:
# loading in our packages
library(tidyverse)
library(haven)
library(IRdisplay)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Data can be created by different programs and stored in different styles - these are called **file types**. We can usually tell what kind of file type we are working with by looking at the extension.  For example, a text file usually has the extension `.txt`. The data we will be using in this course is commonly stored in Stata, Excel, text, or comma-separated variables files.  These have the following types:

* .dta for a Stata data file
* .xls or .xlsx for an Excel file
* .txt for a text file
* .csv for a comma-separated variables file

To load any data set, we need to use the appropriate function in order to specify to R the format in which the data is stored: 

- To load a .csv file, we use the command `read_csv("file name")`.
- To load a STATA data file, we use the command `read_dta("file name")`.
- To load an Excel file, we the command `read_excel("file name")`.
- To load a text file, we use the command `read_table("file name", header = FALSE)`.
  - The header argument specifies whether or not we have specified column names in our data file. 
  
> **Note:** if we are using an Excel file, we need to load in the readxl package alongside the tidyverse and haven packages above to read the file.

In this module, we'll be working with the data set in the "fake_data.csv" and "fake_data.dta" files (same data but in different formats). This data set is simulating information of workers in the years 1982-2012 in a fake country where a training program was introduced in 2003 to boost their earnings. 

Let's read in our data in dta and csv format now.

In [6]:
# reading in the data
fake_data <- read_dta("../econ490-stata/fake_data.dta")  #change me!
write.csv(fake_data,"../econ490-stata/fake_data.csv", row.names = TRUE)

fake_data <- read_csv("../econ490-stata/fake_data.csv")  #change me!

New names:
* `` -> ...1

Rows: 138138 Columns: 10

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): sex
dbl (9): ...1, workerid, year, age, start_year, region, treated, earnings, s...


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

## 4.3 Viewing Data
Now that we've loaded in our data, it's important to inspect the data. Let's look at a series of commands which help us to do this.

#### 4.3.1 `glimpse`

The first command we are going to use describes the basic characteristics of the variables in the loaded data set.

In [7]:
glimpse(fake_data)

Rows: 138,138
Columns: 10
$ ...1          <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 1~
$ workerid      <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8,~
$ year          <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 20~
$ sex           <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "~
$ age           <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, ~
$ start_year    <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 19~
$ region        <dbl> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4,~
$ treated       <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings      <dbl> 39975.008, 278378.062, 18682.600, 293336.406, 111797.258~
$ sample_weight <dbl> 0.26076493, 0.01427392, 0.03218683, 0.47120222, 0.704380~

Alternatively, we can use the `print` command, which displays the same information as the `glimpse` command but in horizontal form.

In [8]:
print(fake_data)

# A tibble: 138,138 x 10
    ...1 workerid  year sex     age start_year region treated earnings
   <dbl>    <dbl> <dbl> <chr> <dbl>      <dbl>  <dbl>   <dbl>    <dbl>
 1     1        1  1999 M        55       1997      1       0   39975.
 2     2        1  2001 M        57       1997      1       0  278378.
 3     3        2  2001 M        54       2001      4       0   18683.
 4     4        2  2002 M        55       2001      4       0  293336.
 5     5        2  2003 M        56       2001      4       0  111797.
 6     6        3  2005 M        54       2005      5       0   88352.
 7     7        3  2010 M        59       2005      5       0   46230.
 8     8        4  1997 M        45       1997      5       1   24911.
 9     9        4  2001 M        49       1997      5       1    9908.
10    10        5  2009 M        55       1998      2       1  137207.
# ... with 138,128 more rows, and 1 more variable: sample_weight <dbl>

With many variables, this can be harder to read than the `glimpse` command. Thus, we typically prefer to use the `glimpse` command.

#### 4.3.2 `View` and `head`

In addition to the `glimpse` command, we can also see the raw data we have imported as if it were an Excel file. To do this, we can use the `View` function. This command will open a clear representation of our data as though it were a spreadsheet. We can also use the command `head`. This prints out a preview of our data set exactly as it would appear in Excel (showing the first ten rows by default). We can then specify a numeric argument to the function to change the number of rows we want to see, as well as the specific rows we want via indicating their positions.

In [9]:
head(fake_data)

  ...1 workerid year sex age start_year region treated earnings  sample_weight
1 1    1        1999 M   55  1997       1      0        39975.01 0.26076493
2 2    1        2001 M   57  1997       1      0       278378.06 0.01427392
3 3    2        2001 M   54  2001       4      0        18682.60 0.03218683
4 4    2        2002 M   55  2001       4      0       293336.41 0.47120222
5 5    2        2003 M   56  2001       4      0       111797.26 0.70438099
6 6    3        2005 M   54  2005       5      0        88351.67 0.35590065

There is even the function `tail`, which functions identically to `head` but works from the back of the data set (outputs the final rows).

In [ ]:
tail(fake_data)

Opening the data editor has many benefits. Most importantly we get to see our data as a whole, allowing us to have a clearer perspective of the information the data set is providing us. For example, here we observe that we have unique worker codes, the year where they are observed, worker characteristics, and whether or not they participated in the training program. This viewing process is particularly useful when we first load a data set, since it lets us know if our data has been loaded in correctly and looks appropriate.

#### 4.3.3 `summary` and `sapply`

We can further analyze any variable by using the `summary` command. This commands gives us the minimum, 25th percentile, 50th percentile (median), 75th percentile, and max of each our variables, as well as the mean of each of these variables. It is a good command for getting a quick overview of the general spread of all variables in our data set.

In [ ]:
summary(fake_data)

From the command above, we can tell that this function will only be meaningful for variables in numeric or integer form. 

We can also apply summary to specific variables.

In [66]:
summary(fake_data$earnings)

ERROR: Error in data$earnings: object of type 'closure' is not subsettable

If we want to quickly access more specific information about our variables, such as their standard deviations, we can supply this as an argument to the function `sapply`. It will output the standard deviations of each of our numeric variables. However, it will not operate on character variables. Remember, we can check the type of each variable using the `glimpse` function from earlier.

In [ ]:
sapply(fake_data, sd)

We can also apply arguments such as mean, min, and median to the function above; however, `sd` is a good one since it is not covered in the `summary` function.

#### 4.3.4 `count` and `table`

We can also learn more about the frequency of the different measures of our variables by using the command `count`. We simply supply a specific variable to the function to see the distribution of values for that variable.

In [ ]:
count(fake_data, region)

Here we can see that there are five regions indicated in this data set, that more people surveyed came from region 1 and then fewer people surveyed came from region 3. Similarly, we can use the `table` function and specify our variable to accomplish the same task.

In [ ]:
table(fake_data$region)

## Exercise 1
Run the code cell below to see the exercise!

In [5]:
display_html('<iframe src="https://h5p.open.ubc.ca/wp-admin/admin-ajax.php?action=h5p_embed&id=1193" width="862" height="329" frameborder="0" allowfullscreen="allowfullscreen" title="R 4.1"></iframe>')

## Exercise 2
Run the code cell below to see the exercise!

In [6]:
display_html('<iframe src="https://h5p.open.ubc.ca/wp-admin/admin-ajax.php?action=h5p_embed&id=1194" width="862" height="313" frameborder="0" allowfullscreen="allowfullscreen" title="R 4.2"></iframe><script src="https://h5p.open.ubc.ca/wp-content/plugins/h5p/h5p-php-library/js/h5p-resizer.js" charset="UTF-8"></script>')

## Exercise 3

How many different start years are recorded in this dataset? Store your answer in answer3.

In [ ]:
# your code here

In [ ]:
answer_3 <- # your answer for the number of different start years here

test_3()

## 4.4 Cleaning Data
Now that we've loaded in our data, the next step is to do some rudimentary cleaning of our data. This most commonly includes factorizing variables and dropping missing observations.

#### 4.4.1 Factorize variables

We have already seen that there are different types of variables which can be stored in R. Namely, there are quantitative variables and qualitative variables. Any quantitative variable can be stored in R as a set of strings or letters. These are known as **character** variables. Qualitative variables can also be stored in R as factor variables. Factor variables associate a qualitative response to a categorical value, making analysis much easier. Additionally, data is often encoded, meaning that the levels of a qualitative variable are represented by "codes", usually in numeric form.

Look at the *region* variable in the output from `glimpse` above:

```
region     <dbl> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
```

The *region* variable in this data set corresponds to a particular region that the worker is living in. We can also see the variable type is <dbl+lbl>: this is a labeled double. This is good: it means that R already understands what the levels of this variable mean.

There are three similar ways to change variables into factor variables. 

1.  We can change a specific variable inside a data frame to a factor by using the `as_factor` command. Let's do that below, using the special pipe `%>%` operator. This operator allows us to pipe existing code into a new function. In this way, it helps us break up long code across many lines, improving legibility. You can think of the pipe operator as saying AND THEN when describing your code aloud.

In [10]:
fake_data <- fake_data %>%  #we start by saying we want to update the data, AND THEN... (%>%)
    mutate(region = as_factor(region)) #mutate (update) pr to be a factor variable

glimpse(fake_data)

Rows: 2,861,772
Columns: 9
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <fct> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300, 8~

Do you see the difference in the _region_ variable?  You can also see that the type has changed to <fct> a **factor variable**.

R would already know how to "decode" the factor variables from the imported data if and only if the they were of type <dbl+lbl>.  What about when this isn't the case? This brings us to the next method:

2.  We can **supply a list of factors** using the `factor` command.   This command takes two other values:
    * A list of levels the qualitative variable will take on.
    * A list of labels, one for each level, describing what each level means.

We can create a custom factor variable as follows:

In [17]:
#first, we write down a list of levels
region_levels = c(1:5)
#then, we write down a list of our labels
region_labels = c('Region A', 'Region B', 'Region C', 'Region D', 'Region E')

#now, we use the command but with some options - telling factor() how to interpret the levels

fake_data <- fake_data %>%  #we start by saying we want to update the data, AND THEN... (%>%)
    mutate(region2 = factor(region,   #notice it's factor, not as_factor
                          levels = region_levels, 
                          labels = region_labels)) #mutate (update region) to be a factor of regions
glimpse(fake_data)

Rows: 2,861,772
Columns: 10
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <fct> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300, 8~
$ region2    <fct> Region A, Region A, Region D, Region D, Region D, Region E,~

Again, do you see the difference between _region_ and _region2_ here?  This is how we can customize factor labels when creating new variables.

3.  The final method is very similar to the first. If we have a large data set, it can be tiresome to decode all of the variables one-by-one.  Instead, we can use `as_factor` on the **entire data set** and it will convert all of the variables with appropriate types.

In [18]:
fake_data <- as_factor(fake_data)

glimpse(fake_data)

Rows: 2,861,772
Columns: 10
$ workerid   <dbl> 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 9,~
$ year       <dbl> 1999, 2001, 2001, 2002, 2003, 2005, 2010, 1997, 2001, 2009,~
$ sex        <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M", "M",~
$ birth_year <dbl> 1944, 1944, 1947, 1947, 1947, 1951, 1951, 1952, 1952, 1954,~
$ age        <dbl> 55, 57, 54, 55, 56, 54, 59, 45, 49, 55, 57, 41, 45, 46, 49,~
$ start_year <dbl> 1997, 1997, 2001, 2001, 2001, 2005, 2005, 1997, 1997, 1998,~
$ region     <fct> 1, 1, 4, 4, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5, 2, 2, 4, 4, 2,~
$ treated    <dbl> 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ earnings   <dbl> 39975.010, 278378.100, 18682.600, 293336.400, 111797.300, 8~
$ region2    <fct> Region A, Region A, Region D, Region D, Region D, Region E,~

This is our final data set, with all variables factorized.

#### 4.4.2 Remove missing data

We often face the challenge of dealing with missing values among observations for some of our variables. To check if any of our variables have missing values, we can use the `is.na` function alongside the `any` function. This code will return a value of TRUE or FALSE depending on whether we do or do not have any missing observations in our data set.

In [ ]:
any(is.na(fake_data))

Here, we can see that our data set already has no missing observations, so we do not need to worry about the process of potentially removing or redefining them. However, this is often not the case.

Let's go through the process of dropping missing observations for the *sex* variable anyway, assuming that missing observations are coded as "not available". We will do this as a demonstration, even though no observations will actually be dropped. To do this, we will use the `filter()` method. This function conditionally drops rows (observations) by evaluating each row against the supplied condition. Only observations where the condition is true/met are retained (selection by inclusion) in the data frame. To use this to drop hypothetical missing observations for *sex*, we do the following:

In [1]:
filter(fake_data, sex != "not available")

ERROR: Error in as.ts(x): object 'fake_data' not found

> **Recall**: The operator `!=` is a conditional statement for "not equal to". Therefore we are telling R to keep the observations that are not equal to "not available".

This process utilized the `filter` function, which retains rows meeting a specific condition. However, we can also supply a series of conditions to filter at once. We could have, for instance, decided that we only wanted to keep observations for females from region 1. In this case, we could run the following code.

In [ ]:
head(filter(fake_data, sex == "F" & region == 1))

> **Important Note**: choosing which observations to drop is always an important research decision. There are two key ways to handle missing data: dropping it altogether (done above) or treating "missing" as its own valid category (not done above since no data is missing). This decision has important consequences for your analysis, and should always be carefully thought through - especially if the reasons why data are missing might not be random.

#### 4.4.3 Remove variables
Beyond filtering observations as was done above, we sometimes want to "filter" our variables. This process of operating on columns instead of rows requires the `select` function instead of the `filter` function. This is a useful function when we have more data at our disposal than we actually need to answer the research question at hand. This is especially pertinent given the propensity for data sets to collect an abundance of information, some of which may not be useful to us and instead slow down our loading and cleaning process.

Let's assume we are interested in seeing the gender wage gap among male and female workers of region 2, and nothing else. To help us with our analysis, we can filter by only observations which belong to region 2, then select for just the variables we are interested in.

In [ ]:
head(fake_data %>% filter(region == 2) %>% select(sex, earnings))

In the code above, we pass as parameters to the `select` function every column we wish to keep.

* `select(variables, I, want, to, keep)`
* `select(-variables, -I, -don't, -want)`

This is very useful and is usually done for practical reasons such as memory. Cleaning data sets to remove unessential information also allows us to focus our analysis and makes it easier to answer our desired research question. In our specific case, we want to keep data on just wages and sex. We have used the select function for this. If we were to further our research of the gender wage gap within region 2, we would now be able to refer to "fake_data" more quickly for immediate results.

## Exercise 4
Suppose that we have a new variable in our data set: _immigrant_.

In [ ]:
set.seed(12)

fake_data <- read_csv("../econ490-stata/fake_data.csv")  #change me!

values <- c("immigrant", "non-immigrant", "not available")

fake_data <- fake_data %>%
    mutate(immigrant = sample(values, 2861772, replace = TRUE))

To clean up our data set in order to account for this variable, we have to do the following things:

1. This variable is currently coded in the form of "immigrant", "non-immigrant", or "not available". We wish to drop observations with unavailable values for immigrant.
2. We wish to have "immigrant" coded with the value of 1 and "non-immigrant" with the value of 0.
3. Many immigrants in the sample listed their location of arrival as their region instead of their current location. Thus, we wish to remove the region variable entirely to avoid spoiling our sample.

Edit the following code to complete this 3-step clean up process. (**Hint**: if you get the below question wrong, you will need to rerun the code cell above to import the data set from scratch again).

In [ ]:
# drop missing observations
fake_data <- fake_data %>%
    filter()

# factorize immigrant variable
fake_data <- fake_data %>% 
    mutate(immigrant = )

# drop unreliable variable
fake_data <- fake_data %>% 
    select()

answer_4 <- fake_data # your final fake_data data set is stored here

test_4()

## 4.5 Wrap Up
In this notebook, we have covered the basic process of working with data. Specifically, we looked at how to load in data, how to view it, and how to clean it by factorizing, dropping and selecting variables and observations. This general scheme is critical to any research project, so it is important to keep in mind as you progress throughout your undergraduate economics coursework and beyond. In the next section, we will cover a larger concept which is also essential to the cleaning of a data set, but merits its own section: creating variables.

## References

* [Introduction to Probability and Statistics Using R](https://mran.microsoft.com/snapshot/2018-09-28/web/packages/IPSUR/vignettes/IPSUR.pdf)
* [DSCI 100 Textbook](https://datasciencebook.ca/index.html)